{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_anonymous %}
<span>You are not logged in!</span>
{% endif %}
<a href="/task_create/">Új feladat létrehozása</a>
<h2>Feladatok:</h2>
<hr>

    <div class="task_container">
        <div class="task_child">
            <h2>Aktív feladatok</h2>
            {% for task in tasks %}
                {% if task.status == 'Active' %}
                    <a href="/task_show/{{ task.id }}">
                        <div class="task_element">
                            <div class="task_title">
                                <span>{{ task.title }} {{ task.status }}</span><br>
                            </div>
                            <span>{{ task.description }}</span><br>
                            <span>Felelös: {{ task.task_responsible }}</span> <br>
                            <span>Határidö: {{ task.end_day }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="task_child">
            <h2>Folyamatban lévő feladatok</h2>
            {% for task in tasks %}
                {% if task.status == 'In Progress' %}
                    <a href="/task_show/{{ task.id }}">
                        <div class="task_element">
                            <div class="task_title">
                                <span>{{ task.title }} {{ task.status }}</span><br>
                            </div>
                            <span>{{ task.description }}</span><br>
                            <span>Felelös: {{ task.task_responsible }}</span> <br>
                            <span>Határidö: {{ task.end_day }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="task_child">
            <h2>Lejárt feladatok</h2>
            {% for task in tasks %}
                {% if task.status == 'Expired' %}
                    <a href="/task_show/{{ task.id }}">
                        <div class="task_element">
                            <div class="task_title">
                                <span>{{ task.title }} {{ task.status }}</span><br>
                            </div>
                            <span>{{ task.description }}</span><br>
                            <span>Felelös: {{ task.task_responsible }}</span> <br>
                            <span>Határidö: {{ task.end_day }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    </div>


{% endblock content %}