{% extends 'base.html' %}
{% block body_tasks %}
{% load static %}
{% if request.user.is_anonymous %}
<span>You are not logged in!</span>
{% endif %}
<h2>Feladatok:</h2>
    <a href="/task_create/">Új feladat létrehozása</a>
<hr>
{% for task in tasks %}
    <a href="/task_show/{{ task.id }}">
    <div class="task_element">
        <div class="task_title">
            <span>{{ task.title }}</span><br>
        </div>
        <span>{{ task.description }}</span><br>
        <span>Felelös: {{ task.task_responsible }}</span> <br>
        <span>Határidö: {{ task.end_day }}</span>
    </div></a>
{% endfor %}
{% endblock body_tasks %}