{% extends 'base.html' %}
{% block submenu %}
        <a href="/apartment_utils/{{ apartment.id }}">Mérőórák</a>
        <a href="/apartment_documents/{{ apartment.id }}">Dokumentumok</a>
        <a href="/apartment_check/{{ apartment.id }}">Állapotfelmérés</a>
{% endblock submenu %}
{% block content %}
        <div>
        <a href="/apartment_create">Új bérlemény hozzáadása</a>
        <a href="/apartment_details/{{ apartment.id }}">Alapadatok</a>


        <a href="/apartment_history/{{ apartment.id }}">Előzmények</a>
    </div>
{% endblock content %}